body {
	background-color: #F0F2F5;
	font-family: "Arial";
}
strong {
	font-weight: 600;
}
.notification {
	width: 360px;
	padding: 15px;
	background-color: white;
	border-radius: 16px;
	position: fixed;
	bottom: 15px;
	left: 15px;
	transform: translateY(200%);
	animation: noti 2s forwards alternate ease-in;
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	&-title {
		font-size: 16px;
		font-weight: 500;
		text-transform: capitalize;
	}
	&-close {
		cursor: pointer;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #F0F2F5;
		font-size: 14px;
	}
	&-container {
		display: flex;
    align-items: flex-start;
	}
	&-media {
		    position: relative;
	}
	&-user-avatar {
		width: 60px;
    height: 60px;
    border-radius: 60px;
    object-fit: cover;
	}
	&-reaction {
		width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(45deg, #0070E1, #14ABFE);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
	}
	&-content {
		width: calc(100% - 60px);
    padding-left: 20px;
    line-height: 1.2;
	}
	&-text {
		    margin-bottom: 5px;
		display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
		padding-right: 50px;

	}
	&-timer {
		color: #1876F2;
    font-weight: 600;
    font-size: 14px;
	}
	&-status {
		position: absolute;
    right: 15px;
    top: 50%;
    /* transform: translateY(-50%); */
    width: 15px;
    height: 15px;
    background-color: #1876F2;
    border-radius: 50%;
	}
}
@keyframes noti{
	50%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(0);
	}
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  table strong{
	min-width: 88px;
	display: inline-block;
  }
  
  

